.top {
        background: linear-gradient(#e6e3e3, #75afe1);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(41, 43, 42);
}

/*.nav-link {
    color: black;
}

.nav-link:hover {
    color: rgb(98, 98, 112);
}*/

html {
    scroll-behavior: smooth;
}

#edu >  div > div > div > div > div > img {
    height: 275px;
    object-fit: cover;
    border-radius: 5px;
}

.gpa {
    font-size: 12px;
}

.expimg {
    height: 200px;
    width: 200px;
    border-radius: 5px; 
}

@media (prefers-color-scheme: dark) {
    .expimg {
        filter: brightness(90%);
    }
    .top {
        background: linear-gradient(#2a2727, #106cbc);
    }
}

.navbar-brand {
    color: black;
    padding-top: 8px;
    padding-left: 2px;
}

.card > * {
    text-decoration: none;
    color: inherit;
}